<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2UlX6pQqDi_ojuAjMrAPN6kiGjCflE5A</string>
	<key>GCM_SENDER_ID</key>
	<string>729975885940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-6e5c6</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-6e5c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729975885940:ios:82db0dc67e8ec8214cc121</string>
</dict>
</plist>