<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308974450710-mtoia57rh099425ap1er1r21af3snlet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308974450710-mtoia57rh099425ap1er1r21af3snlet</string>
	<key>API_KEY</key>
	<string>AIzaSyDchQC8bc3edDqGfOd6nY9hpQCouEyd6f8</string>
	<key>GCM_SENDER_ID</key>
	<string>308974450710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-f18c6</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-f18c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308974450710:ios:24f60f1ca5ba8ac7d0dd37</string>
</dict>
</plist>